<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clc.springboot.demo1.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.clc.springboot.demo1.facade.entities.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="balance" jdbcType="FLOAT" property="balance"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, number, password, name, sex, phone_number, address, balance
    </sql>

    <select id="showUserList" resultType="com.clc.springboot.demo1.facade.vo.UserVo" resultMap="BaseResultMap">
        select *
        from user
        <where>
            <if test="name != null">
                and name LIKE concat('%',#{name},'%')
            </if>
            <if test="phoneNumber != null">
                and phone_number LIKE concat('%',#{phoneNumber},'%')
            </if>
        </where>
        order by name
    </select>

    <select id="findUserByNumberAndPassword" resultType="com.clc.springboot.demo1.facade.entities.User" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from user
        where number = #{number} and password = #{password}
    </select>

    <update id="changePassword">
        update user
        set password = #{password}
        where id = #{id}
    </update>

<!--    <update id="changeData">-->
<!--        update user-->
<!--        <set>-->
<!--            id = id-->
<!--            <if test="name != null">and name = #{name}</if>-->
<!--            <if test="sex != null">and sex = #{sex}</if>-->
<!--            <if test="phoneNumber != null">and phone_number = #{phoneNumber}</if>-->
<!--            <if test="address != null">and address = #{address}</if>-->
<!--        </set>-->
<!--        where id = #{id}-->
<!--    </update>-->

    <select id="findUserById" resultType="com.clc.springboot.demo1.facade.entities.User" resultMap="BaseResultMap">
        select *
        from user
        where id = #{id}
    </select>

    <update id="updateBalance">
        update user
        set balance = #{balance}
        where id = #{id}
    </update>

</mapper>
